<!doctype html>
<html lang="en">
    <head>
        <base href="<%= baseUrl %>">
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html;charset=utf8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
        <style type="text/css">
        body, html {
            height: 100%;
        }

        .app-loading {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .spinner {            
            animation: rotate 2s linear infinite;
            transform-origin: center center;
            position: absolute;
            z-index: -1;
        }

        .spinner.left {        
            width: 30px;
            height: 30px;
            top: 45px;
            left : 25px;
        }

        .spinner.right {        
            width: 20px;
            height: 20px;
            top: 40px;
            left : 60px;
        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes dash {
            0% {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
            }

            50% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -35px;
            }

            100% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -124px;
            }
        }

        /* fallback */
        @font-face {
          font-family: 'Material Icons';
          font-style: normal;
          font-weight: 400;
          src: url(<%= baseUrl == "/" ? "" : baseUrl %>/assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
        }

        .material-icons {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
        }
        </style>
    </head>
    <body class="my-theme">
        <app-component>
            <div class="app-loading">
                <div style="position: relative;">
                    <img src="<%= baseUrl  + 'assets/images/logo-no-settings.png' %>" width="100" />
                    <img class="spinner left" src="<%= baseUrl  + 'assets/images/setting.png' %>" />
                    <img class="spinner right" src="<%= baseUrl  + 'assets/images/setting.png' %>" />
                </div>
            </div>
        </app-component>
    </body>
</html>